{{extend "default/base.html"}}
<h1>{{=post.title}}</h1>
<p>
  {{=post.content}}
</p>
<h3>Comentarios</h3>
{{if post.comments is not None:}}
    {{for comment in post.comments:}}
        <div class="comment">
          {{=comment}}
        </div>
    {{pass}}
{{else:}}
    No hay comentarios.
{{pass}}
<!-- ... -->
<h3>Comentarios</h3>
<div class="leave-comment">
  {{=comment_form}}
</div>
<!-- ... -->
<!-- ... -->
<h1>{{=post.title}}</h1>
{{if post.image:}}
    <img src='{{=URL("uploads", args=post.image)}}' />
{{pass}}
<!-- ... -->